<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>File 업로드</h1>
    <hr>
    <h3>Single File 업로드</h3>
    <form action="single-file" method="post" enctype="multipart/form-data">
        파일 : <input type="file" name="singleFile"><br>
        파일 설명 : <input type="text" name="description"><br>
        <input type="submit">
    </form>

    <hr>
    <h3>Multi File 업로드</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data">
        파일 : <input type="file" name="MultiFile" multiple><br>
        파일 설명 : <input type="text" name="description"><br>
        <input type="submit">
    </form>
</body>
</html>