<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>메뉴 코드</h2>
    <table border="1">
        <tr>
        <th>메뉴코드</th>
        <td th:text="${menu.code}"></td>
        </tr>
        <tr>
            <th>메뉴이름</th>
            <td th:text="${menu.name}"></td>
        </tr>
        <tr>
            <th>메뉴가격</th>
            <td th:text="${menu.price}"></td>
        </tr>
        <tr>
            <th>카테고리코드</th>
            <td th:text="${menu.categoryCode}"></td>
        </tr>

    </table>
</body>
</html>