<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<script>
    const message =`[[${successMessage}]]`;
    if(message){
        alert(message);
    }
</script>
    <table border="1">
        <tr>
            <th>메뉴번호</th>
            <th>메뉴이름</th>
            <th>메뉴가격</th>
            <th>카테고리코드</th>
            <th>판매상태</th>
        </tr>
        <tr th:each="menu:${menuList}">
            <td th:text="${menu.code}"></td>
            <td th:text="${menu.name}"></td>]
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.categoryCode}"></td>
            <td th:text="${menu.orderableStatus}"></td>

        </tr>
    </table>
</body>
</html>