<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Session 을 이용힌 값 유지</h1>
    <h3>HttpSession 객체를 이용한 값 유지</h3>
    <form action="login1" method="post">
        id = <input type="text" name="id"><br>
        pwd = <input type="password" name="pwd"> <br>
        <input type="submit" value="로그인">
    </form>

    <br>
    <h3>@SessionAttributes 이용한 값 유지</h3>
    <form action="login2" method="post">
        id = <input type="text" name="id"><br>
        pwd = <input type="password" name="pwd"> <br>
        <input type="submit" value="로그인">
    </form>
</body>
</html>