<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <h1> ㅋ 꺼내기000</h1>
    <h3>수정 폼</h3>
    <form action="modify" method="post">
        이름 : <input type="text" name="modifyName"><br>
        가격 : <input type="number" name="modifyPrice"><br>
        <button type="submit">ㄱ</button>
    </form>

 <h3>수정 폼2</h3>
 <form action="modifyAll" method="post">
     이름 : <input type="text" name="modifyName2"><br>
     가격 : <input type="number" name="modifyPrice2"><br>
     <button type="submit">ㄱ</button>
 </form>--
</body>
</html>