<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1> Model 에 담긴 객체 정보 출력하기 </h1>
        <h3 th:text="${menu.name}"></h3>
        <h3 th:text="${menu.price}"></h3>
        <h3 th:text="${menu.categoryCode}"></h3>
        <h3 th:text="${menu.orderableStatus}"></h3>

</body>
</html>