<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.crud.menu.model.dao.MenuMapper">

    <!--데이터베이스 결과를 자바로 연결(매핑)-->
    <resultMap id="menuResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderalbe_status"/>
    </resultMap>

    <!--데이터베이스 결과를 자바로 연결(매핑)-->
    <resultMap id="categoryResultMap" type="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
        <id property="code" column="category_code"/>
        <result property="name" column="category_name"/>
        <result property="refCategoryCode" column="ref_category_code"/>
    </resultMap>

    <!--데이터베이스에서 데이터를 조회-->
    <select id="findAllMenus" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            ORDERABLE_STATUS = 'Y'
        ORDER BY
            MENU_CODE
    </select>



    <!--데이터베이스에서 데이터를 조회-->
    <select id="findAllCategory" resultMap="categoryResultMap">
        SELECT
            *
        FROM
            TBL_CATEGORY
    </select>


    <!--데이터베이스에 데이터를 삽입합니다.-->
    <insert id="registNewMenu" parameterType="com.ohgiraffers.crud.menu.model.dto.MenuDTO">
        insert into tbl_menu
        (
            menu_name,
            menu_price,
            category_code,
            orderable_status
        )
        values
        (
            #{name},
            #{price},
            #{categoryCode},
            #{orderableStatus}
        )
    </insert>


    <resultMap id="joinResultMap" type="com.ohgiraffers.crud.menu.model.dto.MenuAndCategoryDTO">
        <id property="code" column="menu_code"/>
        <result property="name" column="menu_name"/>
        <result property="price" column="menu_price"/>
        <result property="orderableStatus" column="orderable_status"/>
        <association property="categoryDTO" javaType="com.ohgiraffers.crud.menu.model.dto.CategoryDTO">
            <id property="code" column="category_code"/>
            <result property="name" column="category_name"/>
            <result property="refCategoryCode" column="ref_category_code"/>
        </association>
    </resultMap>

    <select id="findAllMenuAndCategory" resultMap="joinResultMap">
        select
            a.menu_code,
            a.menu_name,
            a.menu_price,
            a.orderable_status,
            b.*
        from
            tbl_menu a
        join
            tbl_category b on (a.category_code = b.category_code)
        where
            a.orderable_status ='Y'

    </select>

    <!-- 삭제 구문  -->
    <delete id="deleteMenu" parameterType="int">
        DELETE
            FROM
                tbl_menu
             WHERE
                menu_code = #{code}
    </delete>

    <!--메뉴코드를 통해 메뉴 상세 정보를 조회회는 SQL 쿼리-->
    <select id="findMenuByCode" parameterType="int" resultMap="menuResultMap">
        SELECT
            MENU_CODE,
            MENU_NAME,
            MENU_PRICE,
            CATEGORY_CODE,
            ORDERABLE_STATUS
        FROM
            TBL_MENU
        WHERE
            MENU_CODE = #{code}
    </select>

</mapper>